<%= form_for @good do |f| %>
<div>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
</div>
<div>
  <%= f.label :category %>
  <%= f.text_area :category %>
</div>
<div>
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>
<div>
  <%= f.submit %>

</div>
<% end %>
